@import '~style/colors.scss';

.gamepod {
    display: inline-flex;
    padding: 3rem 3rem 0 3rem;
    margin-bottom: 2em;
}

.gamepod:hover {
    background: transparentize($color-casino-base, 0.5);
    cursor: pointer;
    border-radius: 6px;
}

.gamepod > div {
    position: relative;
    display: flex;
    align-items: center;
    border-bottom: 1px solid transparentize($lottoland-white, 0.88);
    padding-bottom: 3rem;
}

.gamepod:hover > div {
    border-bottom-color: transparent;
}

.thumbnailWrapper {
    position: relative;
    display: flex;
    height: 96px;
}

.thumbnailWrapper:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(180deg, rgba(26, 23, 30, 0.64) 0%, rgba(26, 23, 30, 0) 24.98%, rgba(26, 23, 30, 0) 74.94%, rgba(26, 23, 30, 0.64) 100%);
    border-radius: 5px;
    z-index: 1;
}

.gameImage {
    border-radius: 5px;
}

.infoIcon {
    display: none;
}

.playButton {
    opacity: 0;
}


.infoWrapper {
    margin: 0 3.4rem;
}

.name,
.supplier,
.stake {
    margin: 0;
}

.supplier,
.stake {
    color: $color-ui-casino-03;
    font-size: 2rem;
}

.name {
    color: $color-ui-casino-02;
    font-size: 2.4rem;
}

.gamepod:hover .infoIcon {
    display: block;
    position: absolute;
    left: 10px;
    top: 10px;
    z-index: 2;
}

.gamepod:hover .playButton {
    opacity: 1;
}