$lottoland-white: #B6B7C0;
$lottoland-white-100: #CCCDD9;
$color-casino-base: #131B2F;
$color-casino-complimentary: #F72585;
$color-ui-casino-01: #FFFFFF;
$color-ui-casino-02: #B6B7C0;
$color-ui-casino-03: #747885;
$gradient-brand: linear-gradient(90deg, #A5CD28 0%, #69A507 100%);
$gradient-casino-background: linear-gradient(270deg, #1F263A 0%, #353B4D 100%);