@import './colors.scss';

@font-face {
    font-family: 'Daxline Pro';
    src: url('../assets/fonts/daxlinepro-medium.woff2');
    font-weight: normal;
}

@font-face {
    font-family: 'Daxline Pro';
    src: url('../assets/fonts/daxlinepro-black.woff2');
    font-weight: bold;
}

html, body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    background: $gradient-casino-background;
    font-family: 'Daxline Pro', 'Helvetica Neue', arial, sans-serif;
    font-size: 7px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#app {
    height: 100%;
}
