@import '~style/colors.scss';

.dropdown {
    position: absolute;
    display: inline-block;
    background: $color-casino-base;
    border-radius: 4px;
    user-select: none;
    z-index: 3;
}

.selection {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 1.3rem 2.4rem 1.2rem 2.4rem;
}

.caretIcon {
    display: inline-block;
    font-family: 'll-icon-font';
    font-style: normal;
    color: $color-ui-casino-02;
    font-size: 2rem;
    margin-right: 1.1rem;
}

.dropdown.open .caretIcon {
    transform: rotate(180deg);
}

.title {
    color: $color-ui-casino-02;
    font-size: 2rem;
    font-weight: 900;
}

.dropdown.open .menu {
    display: flex;
    flex-direction: column;
    background: $color-casino-base;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    padding: 3.4rem 9rem 5rem 5.5rem;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.dropdown:not(.open) .menu {
    display: none;
}

.option:not(:last-child) {
    margin-bottom: 2.14rem;
}